<div fxLayout="row">
	<div *ngFor="let item of this.data; let i = index" fxLayout="row">	
		<!-- 
			First DIV we need at the beginning, so we can drag even before first element.
			The index is i-1 (dirty hack) 
		-->
		<div
			*ngIf="i === 0" 
			class="middle"
			(dragover)="overMiddle($event)"
			(drop)="dropMiddle($event, i-1)"
			(dragleave)="leaveMiddle($event)">
		</div>

		<div 
			draggable="true" 
			class='dossier' 
			[ngClass]="{'folder': item.isFolder}"
			(dragstart)="dragDossier($event, item.id, i)" 
  			(dragover)="overDossier($event)"
  			(dragleave)="leaveDossier($event)"
			(drop)="dropDossier($event, item)" >
				{{item.value}}
				<span *ngIf="item.isFolder">FOLDER</span>
		</div>

		<div class="middle"
			(dragover)="overMiddle($event)"
			(drop)="dropMiddle($event, i)"
			(dragleave)="leaveMiddle($event)">
		</div>
	</div>
</div>


