.dossier {
	background-color: lightblue;
	font-family: courier;
	border: solid 1px gray;	
	margin: 5px;
	width: 100px;
	height: 100px;	
	span{
		font-size: .8rem;
		color: gray;
	}
}

.folder {
	background-color: lightgreen;
}

.dossierOver {
	border: dashed 1px red;	
}


.middle {	
	margin: 5px;
	width: 10px;
	height: 100px;	
	color: white;
}

.over {
	border: dashed 1px red;
	background-color: white;	
}

.invisible {
	visibility: hidden;
}